<div class="app-wrapper">
    <chat-block
            class="chat-block"
    ></chat-block>



    <!--
        Pls don't look at styles in .description :D.
        Here's badcode, but it's ok.
        You need chat-block component
    -->
    <div class="description">
        <p>Смайлики отличаются от изначальных, тк я не нашел в свободном доступе Apple Emoji Font. У вас у самих
            смайлики через PNG-спрайты реализованы ;)</p>

        <span>Список функционала:</span>
        <ul>
            <li>Окошко эмодзи сделано с помощью Angular-директивы.
                Благодаря этому можно супер-просто добавить окошко для любого элемента:
                <br>
            </li>
            <div class="btnWrapper">
                <span class="red" toggleEmojiPicker>НаВеДи На МеНя ;)</span>
            </div>
            <li>Смайлики постепенно добавляются при прокрутке окошка. <span class="italic">Это видно по тому, как ползунок становится меньше</span>. Он кстати кастомный и красивый)</li>
            <li>Окошко открывается и закрывается с плавной анимашкой.
                И да, оно закроется только если курсор уже долгое время убран со значка смайлика/самого окошка 🧐
            </li>
            <li>Во время прокрутки у окошка сверху есть липкий заголовок</li>

        </ul>

        <span>Все то, что и так должно работать:</span>
        <ul>
            <li>Адаптивная высота textarea</li>
            <li>Недавно использованные эмоджи</li>
            <li>Автофокус textarea</li>
            <li>Попробуйте выделить слово курсором и нажать на смайлик - смайлик заменит собой слово 😁</li>
        </ul>

    </div>
</div>

