<div class="app-wrapper">
    <chat-block
            class="chat-block"
    ></chat-block>



    <div class="description">
        <span>Extra Features:</span>
        <ul>
            <li>
                Emojis are gradually added as you scroll through the box.
                <span class="italic">You may notice the slider getting smaller and smaller</span>
            </li>
            <li>
                Font file size is 7mb. There's lazy loading for it so the rest of the page load fast
            </li>
            <li>Sticky header when you scroll down </li>
            <li>You can add it to any HTML element you want:
                <br>
            </li>
            <div class="btnWrapper">
                <span class="red" toggleEmojiPicker>Hover me</span>
            </div>
        </ul>
    </div>
</div>

