.tab-switcher {
  display: flex;
  width: 100%;
  height: 36px;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 4px 4px;
  background-color: #EBEEF2;

  & .tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background: transparent;
    border-radius: 0 0 0 4px;
    cursor: pointer;

    & img {
      filter: invert(71%) sepia(15%) saturate(222%) hue-rotate(173deg) brightness(89%) contrast(84%);
    }

    &.active {
      background: #FFFFFF;
    }
  }
}